.searchArea {
  display: flex;
  flex-direction: row;
}

.criterion {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.criterionTitle {

}

.criterionInput{
  
}

.orderList {

}

.input_date {
  width: 82%;
}