.ExpandedView {
  display: flex;
  flex-direction: column;
}

.SmallInfo {
  display: flex;
  flex-direction: row;
}

.CVV {
  display: flex;
  flex-direction: column;
}

.ExpirationDate {
  display: flex;
  flex-direction: column;
  margin-left: 20px
}