.ExpandedView {
  display: flex;
  flex-direction: column;
}

.Name {
  margin-bottom: 20px;
  font-weight: bold;
}

.SmallInfo {
  display: flex;
  flex-direction: row;
}

.CVV {
  display: flex;
  flex-direction: column;
}

.ExpirationDate {
  display: flex;
  flex-direction: column;
  margin-left: 20px
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}