.nav {
  background: linear-gradient(90deg, rgb(110, 94, 254) 0%, rgba(73, 63, 252, 1) 100%);
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.navItem {
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 20px;
  position: relative;
  color: black;
  text-decoration: none;
}

.navItem:hover {
  background-color: white;
  /* border: 1px solid #999; */
  /* border-radius: 20px; */
  /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
}

.logo {
  color: black;
  font-size: 30px;
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.searchbar {
  /* background-color: white; */
  height: 30px;
  width: 400px;
  border-radius: 10px;
  font-size: 17px;
}
.button {
  font-size: large;
  padding: 12px 23px;
  border-radius: 10px;
  background-color: aqua;
  color: white;

  cursor: pointer;
}
.button:hover {
  transition: all 0.3s ease-in-out;
  background-color: white;
  color: aqua;
  padding: 15px 26px;
}
.button2 {
  font-size: large;
  padding: 12px 23px;
  border-radius: 10px;
  background-color: white;
  color: aqua;
  cursor: pointer;
}
.button2:hover {
  transition: all 0.3s ease-in-out;
  background-color: aqua;
  color: white;
  padding: 15px 26px;
}

.popupSearch {
  position: absolute;
  z-index: 1;
  left: 0%;
  /* right: 0%; */
  /* top: 105%; */
  width: 320px;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  background-color: var(--white-color);
  font-size: 14px;
  /* transform-origin: top 75%; */
  /* animation: HeaderNotify ease-in 0.25s; */
  /* display: none; */
  color: antiquewhite;
}

.wholeSearchBar {
  background-color: white;
  border: solid;
  border-radius: 8px;
  width: 321px;
}

.searchbar {
  border: none;
  outline: none;
  background: none;
  width: 311px;
}

.wrapButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.notification {
  background-color: red;
  animation-name: zoomInOut;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  width: 30px;
  height: 22px;
  font-size: 0.8em;
  border-radius: 50%;
  color: white;
  position: absolute;
  top: 0;
  right: -25px;
}

@keyframes zoomInOut {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}

.notificationText {
  color: white;
  margin-top: 3px;
  vertical-align: middle;
  display: inline-block;
  font-size: 0.9em;
  margin-left: 1px;
}

.closeSticky {
  position: absolute;
  left: 50%;
  top: 40px;
  width: 22px;
  height: 22px;
  opacity: 0.3;
  cursor: pointer;
}

.closeSticky:hover {
  opacity: 1;
}

.closeSticky:before,
.closeSticky:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: #333;
}

.closeSticky:before {
  transform: rotate(45deg);
}

.closeSticky:after {
  transform: rotate(-45deg);
}
