.ProductArea {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  background-color: lightgray;
  padding-bottom: 40px;
  padding-top: 20px;
  min-width: 500px;
}
  
.ProductAreaTitle {
  align-self: center;
  font-size: 20px;
  margin-bottom: 25px;
  background-color: whitesmoke;
  padding: 10px;
  padding-left: auto;
  padding-right: auto;
}

.ProductTotal {
  margin-top: 10px;
  text-align: end;
  margin-right: 80px;
  background-color: whitesmoke;
  margin-left: auto;
  padding: 10px;
}