.ShoppingCartProduct {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
  }

  .Productqty {
    font-weight: bold;
    margin-left: 10px;
  }

  .ProductName {
    padding-left: 20px;
  }

  .ProductCost {
    margin-left: auto;
    padding-left: 40px;
    margin-right: 40px;
  }

  .Qtybutton {
      margin-left: 10px;
      margin-right: 10px;
  }

  .Removebutton {
      margin-right: 20px;
  }