.LocationBox {
  background-color: peru;
  padding: 30px 30px 30px 30px;
  min-width: 350px;
  margin-bottom: 20px;
}

.DeliveryInfo {
  margin-top: 10px;
  background-color: whitesmoke;
  padding: 10px;
}

.LocationInput {
  background-color: whitesmoke;
  padding: 10px;
}

.LocationSubmit {
  background-color: rgb(177, 231, 97);
  margin-left: 10px;
  padding: 5px;
  border-radius: 5px;
}
